body {
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    --image-border: #ddd;
    --shimmer-color: hsl(0, 0%, 78%);
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --elements-color: hsl(209, 23%, 22%);
    --image-border: hsl(209, 23%, 22%);
    --shimmer-color: hsl(208, 21%, 34%);
}